name: Flutter Web Deploy

on:
  push:
    branches:
      - master
      - ci-cd-integration
      - front-end
  pull_request:
    branches:
      - master
      - ci-cd-integration

jobs:
  build:
    runs-on: ubuntu-latest
    environment: production
    defaults:
      run:
        working-directory: fe_flutter

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Flutter
      uses: subosito/flutter-action@v2
      with:
        flutter-version: "3.29.0"

    - name: Create .env file
      run: |
        cat > .env << EOF
        # Firebase Web Configuration
        FIREBASE_WEB_API_KEY=${{ secrets.FIREBASE_WEB_API_KEY }}
        FIREBASE_WEB_APP_ID=${{ secrets.FIREBASE_WEB_APP_ID }}
        FIREBASE_WEB_MESSAGING_SENDER_ID=${{ secrets.FIREBASE_WEB_MESSAGING_SENDER_ID }}
        FIREBASE_WEB_PROJECT_ID=${{ secrets.FIREBASE_WEB_PROJECT_ID }}
        FIREBASE_WEB_AUTH_DOMAIN=${{ secrets.FIREBASE_WEB_AUTH_DOMAIN }}
        FIREBASE_WEB_STORAGE_BUCKET=${{ secrets.FIREBASE_WEB_STORAGE_BUCKET }}
        FIREBASE_WEB_MEASUREMENT_ID=${{ secrets.FIREBASE_WEB_MEASUREMENT_ID }}

        # Firebase Android Configuration
        FIREBASE_ANDROID_API_KEY=${{ secrets.FIREBASE_ANDROID_API_KEY }}
        FIREBASE_ANDROID_APP_ID=${{ secrets.FIREBASE_ANDROID_APP_ID }}
        FIREBASE_ANDROID_MESSAGING_SENDER_ID=${{ secrets.FIREBASE_ANDROID_MESSAGING_SENDER_ID }}
        FIREBASE_ANDROID_PROJECT_ID=${{ secrets.FIREBASE_ANDROID_PROJECT_ID }}
        FIREBASE_ANDROID_STORAGE_BUCKET=${{ secrets.FIREBASE_ANDROID_STORAGE_BUCKET }}

        # Firebase iOS Configuration
        FIREBASE_IOS_API_KEY=${{ secrets.FIREBASE_IOS_API_KEY }}
        FIREBASE_IOS_APP_ID=${{ secrets.FIREBASE_IOS_APP_ID }}
        FIREBASE_IOS_MESSAGING_SENDER_ID=${{ secrets.FIREBASE_IOS_MESSAGING_SENDER_ID }}
        FIREBASE_IOS_PROJECT_ID=${{ secrets.FIREBASE_IOS_PROJECT_ID }}
        FIREBASE_IOS_STORAGE_BUCKET=${{ secrets.FIREBASE_IOS_STORAGE_BUCKET }}
        FIREBASE_IOS_BUNDLE_ID=${{ secrets.FIREBASE_IOS_BUNDLE_ID }}
        EOF

    - name: Install dependencies
      run: flutter pub get

    - name: Build Flutter web app
      run: flutter build web --release

    - name: Archive production artifacts
      uses: actions/upload-artifact@v4
      with:
        name: web-build
        path: fe_flutter/build/web

  deploy:
    runs-on: ubuntu-latest
    needs: build
    environment: production
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Download production artifacts
      uses: actions/download-artifact@v4
      with:
        name: web-build
        path: web-build

    - name: Install Vercel CLI
      run: npm install -g vercel@latest

    - name: Deploy to Vercel
      run: |
        vercel deploy web-build --token=${{ secrets.VERCEL_TOKEN }} --prod --yes